@using EventsManager.Shared.Dtos
@using Microsoft.AspNetCore.Authorization
@using System.Net.Http.Headers
@using EventsManager.Shared

@inject HttpClient Http
@inject AuthenticationStateProvider authenticationStateProvider

@attribute [Authorize(Roles = "User")] 

<h4>My picture</h4>
<div class="user-image-container">
    @if (UserImageUrl == null)
    {
        <InputFile OnChange="@OnInputFileChange">Select a picture</InputFile>
        
        @ErrorMessage
    }
    @if (UserImageUrl != null)
    {
        @if (!RequestingDeleteImage)
        {
            <div>
                <FluentButton Appearance="Appearance.Accent" @onclick="DeleteImage">Delete image</FluentButton>
            </div>
        }
        else
        {
            <div>
                <FluentButton Disabled="true" Appearance="Appearance.Accent" @onclick="DeleteImage">Deleteting</FluentButton>
            </div>
        }
        
        <img class="user-image-picture" size="" src="@UserImageUrl" alt="Event image" height="200" width="200"/>
    }
</div>

@code {
    [Parameter]
    public Uri? UserImageUrl { get; set; } 
    
    [Parameter]
    public EventCallback RefreshUserInformation { get; set; }
    
    private int maxAllowedFiles = 1;
    private int maxAllowedFileSize = 10 * 1024 * 1024; // 10 MB
    private string? ErrorMessage = null;
    private UploadResult uploadResult = new();
    
    private bool RequestingDeleteImage; 

    private async Task OnInputFileChange(InputFileChangeEventArgs e)
    {
        ErrorMessage = null;
        using var content = new MultipartFormDataContent();
        var file = e.GetMultipleFiles(maxAllowedFiles).First();
      
        if (!file.Name.EndsWith(".jpg") && !file.Name.EndsWith(".png") && !file.Name.EndsWith(".gif") && !file.Name.EndsWith(".jpeg"))
        {
            ErrorMessage = "Only .jpeg, .png and .gif files are allowed.";
            return;
        }
        
        if (file.Size > maxAllowedFileSize)
        {
            ErrorMessage = "File size is too big, should be less than 15MB.";
            return;
        }
        
        var fileContent = new StreamContent(file.OpenReadStream());
        fileContent.Headers.ContentType = new MediaTypeHeaderValue(file.ContentType);
        
        content.Add(content: fileContent, name: "\"file\"", fileName: file.Name);
        
        var response = await Http.PostAsync("User/image", content);
        var newUploadResult = await response.Content.ReadFromJsonAsync<UploadResult>();
        if (newUploadResult != null)
        {
            uploadResult = newUploadResult;
        }
        await RefreshUserInformation.InvokeAsync();
    }

    private string? GetStoredFileName(string fileName)
    {
        if (uploadResult != null)
        {
            return uploadResult.StoredFileName;
        }
        return "FIle not found.";
    }
    
    private async Task DeleteImage()    
    {
        RequestingDeleteImage = true;
        await Http.DeleteAsync("User/image");
        await RefreshUserInformation.InvokeAsync();
        RequestingDeleteImage = false;
    }   
}
