.table-responsive {
    width: 100%;
    overflow-x: auto;
}

.table th, .table td {
    width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

tbody tr {
    cursor: pointer;
}

tbody tr:hover {
    background-color: #f8f9fa;
}