@using EventsManager.Shared.Dtos
@using Microsoft.AspNetCore.Authorization

@inject HttpClient Http
@inject AuthenticationStateProvider authenticationStateProvider

@attribute [Authorize(Roles = "User")] 

@if(UserImageUrl != null)
{
    <div class="user-image-container">
        <img href="" alt="" width="200" src="@UserImageUrl"/>
        <div class="user-image-options">
            <div class="user-image-options-button">
                <FluentButton Appearance="Appearance.Accent" >Upload image</FluentButton>
            </div>
            <div class="user-image-options-button">
                <FluentButton Appearance="Appearance.Accent">Delete image</FluentButton>
            </div>
        </div>
    </div>
}
@if (UserImageUrl == null)
{
    <FluentProgressRing></FluentProgressRing>
}

@code {
    [Parameter]
    public Uri? UserImageUrl { get; set; } 
}
