.user-image-container{
    display: flex;
    flex-direction: column;
    margin: 10px 0 10px 0;
}

.user-image-upload{
    display: flex;
    flex-direction: column;
}

.user-image-upload-options{
    margin-top: 5px;
}

.user-image-options-button{
    margin-right: 5px;
}