@using EventsManager.Shared.Dtos
@using Microsoft.AspNetCore.Components.Forms
@inject HttpClient Http

<h3>PriceEdit</h3>

<EditForm Model="MyEventDto">
    <DataAnnotationsValidator />
    <div class="container">
        <div class="row">
            @if (MyEventDto?.Prices != null)
            {
                foreach (var price in MyEventDto.Prices)
                {
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <div class="card-body">
                                <h5 class="card-title">Price: @price.Price €</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Start: @price.StartDate - End: @price.EndDate</h6>
                                <button class="btn btn-danger" @onclick="(() => RemovePrice(price))">Remove</button>
                            </div>
                        </div>
                    </div>
                }
            }
            <button class="btn btn-primary" @onclick="OpenModal">Add Price</button>
        </div>
    </div>
</EditForm>

<div class="@modalClass">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Price</h5>
                <button type="button" class="close" @onclick="CloseModal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <InputNumber @bind-Value="newPrice.Price" class="form-control mb-2" placeholder="Price" /> Set empty for free
                <InputDate @bind-Value="newPrice.StartDate" class="form-control mb-2" placeholder="Start Date" />
                <InputDate @bind-Value="newPrice.EndDate" class="form-control mb-2" placeholder="End Date" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" @onclick="AddPrice">Add</button>
                <button type="button" class="btn btn-secondary" @onclick="CloseModal">Close</button>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public MyEventDto? MyEventDto { get; set; }
    [Parameter]
    public EventCallback RefreshEvent { get; set; }
    
    private EventPriceDto newPrice = new();
    private bool isModalOpen = false;
    private string modalClass => isModalOpen ? "modal d-block" : "modal";

    private void OpenModal()
    {
        newPrice = new EventPriceDto
        {
            EventId = MyEventDto.Id
        };
        isModalOpen = true;
    }

    private async void AddPrice()
    {
        var response = await Http.PostAsJsonAsync("EventPrice", newPrice);

        if (response.IsSuccessStatusCode)
        {
            CloseModal();
            await RefreshEvent.InvokeAsync(MyEventDto);
        }
        else
        {
            // Handle the error here
        }

        
    }

    private void CloseModal()
    {
        isModalOpen = false;
    }

    private void RemovePrice(EventPriceDto price)
    {
        MyEventDto?.Prices.Remove(price);
        RefreshEvent.InvokeAsync(MyEventDto);
    }
}
