@using EventsManager.Shared.Dtos
@inject HttpClient Http

@if(isEditing)
{
    <div class="form-group">
        <label>Staff Registration Password</label>
        <input type="password" class="form-control" @bind="MyEventDto.StaffRegistrationPassword" />
    </div>
    <div class="form-group">
        <label>Rider Registration Password</label>
        <input type="password" class="form-control" @bind="MyEventDto.RiderRegistrationPassword" />
    </div>
    <div class="form-group">
        <label>Marshall Registration Password</label>
        <input type="password" class="form-control" @bind="MyEventDto.MarshallRegistrationPassword" />
    </div>
    <div class="form-group">
        <label>Rider Marshall Registration Password</label>
        <input type="password" class="form-control" @bind="MyEventDto.RiderMarshallRegistrationPassword" />
    </div>
    <button class="btn btn-success" @onclick="Save">Save</button>
    <button class="btn btn-danger" @onclick="() => isEditing = false">Cancel</button>
}
else
{
    <p>Staff Registration Password: @MyEventDto.StaffRegistrationPassword</p>
    <p>Rider Registration Password: @MyEventDto.RiderRegistrationPassword</p>
    <p>Marshall Registration Password: @MyEventDto.MarshallRegistrationPassword</p>
    <p>Rider Marshall Registration Password: @MyEventDto.RiderMarshallRegistrationPassword</p>
    <button class="btn btn-primary" @onclick="() => isEditing = true">Edit Passwords</button>
}


@code {
    [Parameter]
    public MyEventDto? MyEventDto { get; set; }
    
    bool isEditing = false;
    
    private async Task Save()
    {
        await Http.PutAsJsonAsync($"Event/update-registration-passwords", MyEventDto);
        isEditing = false;
    }
}       