@page "/Account"

@using EventsManager.Client.Components.User

<h3>My account</h3>

<FluentDivider></FluentDivider>
    <UserInformation></UserInformation>
<FluentDivider></FluentDivider>
    <UserImage></UserImage>
<FluentDivider></FluentDivider>

@code {
    
}