@page "/Account"

@using EventsManager.Client.Components.User
@using EventsManager.Shared.Dtos
@using Microsoft.AspNetCore.Authorization

@inject HttpClient Http
@inject AuthenticationStateProvider authenticationStateProvider

@attribute [Authorize(Roles = "User")] 

<h3>My account</h3>

@if(user != null)
{
    @* <FluentDivider></FluentDivider> *@
    @* <UserCard></UserCard> *@
    <FluentDivider></FluentDivider>
    <UserImage UserImageUrl="@user?.ImageUrl" RefreshUserInformation="GetUserInformation"></UserImage>
    <FluentDivider></FluentDivider>
    <UserInformation User="@user"></UserInformation>
    <FluentDivider></FluentDivider>
}
@if(user == null)
{
    <FluentProgressRing></FluentProgressRing>
}

@code {
    private UserDto? user { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        var authState = await authenticationStateProvider.GetAuthenticationStateAsync();
        if (authState.User.Identity?.IsAuthenticated == true)
        {
            await GetUserInformation();
        }
    }

    private async Task GetUserInformation()
    {
        user = await Http.GetFromJsonAsync<UserDto>("User");
    }
}
