@page "/Check-in/{RegistrationId:guid}"

@using EventsManager.Shared.Dtos
@using EventsManager.Client.Components.Loaders

@inject IToastService ToastService
@inject HttpClient Http

<h3>CheckInn</h3>

@if (_registrationToCheckInn == null)
{
    <LoadingSpinner />
}
@if (_registrationToCheckInn != null)
{
    @_registrationToCheckInn.Id
}

@code {
    [Parameter]
    public Guid? RegistrationId { get; set; }
    
    private RegistrationToCheckInDto? _registrationToCheckInn;
    
    protected override async Task OnInitializedAsync()
    {
        try
        {
            var response = await Http.GetAsync($"Registration/{RegistrationId}/Check-in");

            if (response.IsSuccessStatusCode)
            {
                _registrationToCheckInn = await response.Content.ReadFromJsonAsync<RegistrationToCheckInDto>();
            }
            else
            {
                var errorContent = await response.Content.ReadAsStringAsync();
                ToastService.ShowError(errorContent);
            }
        }
        catch (Exception)
        {
            ToastService.ShowError("Something went wrong, please try again later");
        }
    }
}
