@page "/"

@using EventsManager.Client.Components.User
@using EventsManager.Client.Components.Event

<PageTitle>Welcome</PageTitle>

<AuthorizeView>
    <Authorized>
        <h1>Hello, @context.User.Identity?.Name! <UserImage></UserImage></h1> Welcome to Events Manager.
        <FluentDivider></FluentDivider>
    </Authorized>
    <NotAuthorized>
        <h1>Hello, anonymous user! Please register or log in ;)</h1> Welcome to Events Manager.
        <FluentDivider></FluentDivider>
    </NotAuthorized>
</AuthorizeView>

<AllEvents></AllEvents>



