@page "/"

@using EventsManager.Client.Components

@inject AuthenticationStateProvider authenticationStateProvider

<PageTitle>Index</PageTitle>

<AuthorizeView>
    <Authorized>
        <h1>Hello, @context.User.Identity?.Name!</h1>
    </Authorized>
    <NotAuthorized>
        <h1>Hello, anonymous user! Please register or log in ;)</h1>
    </NotAuthorized>
</AuthorizeView>

Welcome to Events Manager.

<HorizontalEventsCards></HorizontalEventsCards>