@page "/ticket-chat/{RegistrationId:guid}/event/{EventId:guid}"
@using EventsManager.Shared.Dtos
@using EventsManager.Shared.Requests

@inject NavigationManager NavigationManager
@inject HttpClient Http
@inject IToastService ToastService

<h3>Create Ticket</h3>

@if (createdTicket != null)
{
    <div class="ticket-view">
        <h4>@createdTicket.Title</h4>
        <p>@createdTicket.Text</p>
    </div>
}
else
{
    <div class="ticket-form">
        <div class="form-group">
            <label for="ticketTitle">Title:</label>
            <input id="ticketTitle" type="text" class="form-control" @bind="_newTicket.Title" />
        </div>

        <div class="form-group">
            <label for="ticketText">Explanation:</label>
            <textarea id="ticketText" class="form-control" rows="5" @bind="_newTicket.Text"></textarea>
        </div>

        <button class="btn btn-primary" @onclick="CreateTicket">Create Ticket</button>
    </div>
}

<button class="btn btn-primary" @onclick="NavigateToEvent">Back to event</button>

@code {
    [Parameter]
    public Guid RegistrationId { get; set; }
    [Parameter]
    public Guid EventId { get; set; }
    
    private List<TicketDto> _tickets = new List<TicketDto>();

    private TicketDto _newTicket = new TicketDto();  
    private TicketRequest createdTicket;
    
    protected override async Task OnInitializedAsync()
    {
        try
        {
            var response = await Http.GetFromJsonAsync<List<TicketDto>>($"Registration/{RegistrationId}/ticket");
            _tickets = response;
        }
        catch (Exception e)
        {
            ToastService.ShowError("Something went wrong, please try again later");
        }
    }

    private async Task CreateTicket()
    {
        if (!string.IsNullOrWhiteSpace(_newTicket.Title) && !string.IsNullOrWhiteSpace(_newTicket.Text))
        {
            createdTicket = new TicketRequest()
            {
                Title = _newTicket.Title,
                Text = _newTicket.Text
            };
            
            try
            {
                var response = await Http.PostAsJsonAsync($"Registration/{RegistrationId}/ticket", createdTicket);
                if (response.IsSuccessStatusCode)
                {
                    ToastService.ShowSuccess("Ticket created");
                }
                else
                {
                    var error = await response.Content.ReadAsStringAsync();
                    ToastService.ShowError(error);
                }
            }
            catch (Exception e)
            {
                ToastService.ShowError("Something went wrong, please try again later");
            }
            _newTicket = new TicketDto();
        }
    }

    private void NavigateToEvent()
    {
        NavigationManager.NavigateTo($"event-detail/{EventId}");
    }
    
}