<div>
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<style>
    .spinner-border {
        width: 3rem;
        height: 3rem;
        border-color: #007bff;
        border-right-color: transparent;
    }
</style>
